:root {
 
}

:root.light {
    --background-color: lightgray;
    --color: black;
}

:root.dark {
    --background-color: black;
    --color: white;
}

html {
    background-color: var(--background-color);
    color: var(--color);
}

.form {
    display: flex;
    flex-direction: column;  
    width: 20rem; 
}

#save {
    width: 5rem;
    align-self: center;
}