:root {
 
}

:root.light {
    --background-color: #B29776;
    --color: black;
}

:root.dark {
    --background-color: #B29776;;
    --color: black;
}

html {
    background-color: var(--background-color);
    color: var(--color);
}

.form {
    display: flex;
    flex-direction: column;  
    width: 20rem; 
}

#save {
    width: 5rem;
    align-self: center;
}

.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.library {
    align-self: center;
    justify-self: center;
    font-size: 5rem;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 2rem;
    margin-bottom: 30vh;
}

.welcome {
    text-align: center;
    text-indent: -25rem;
}

.shelves {
    display: grid;
    width: 850vh;
    border-bottom: 3px solid #6C2121;
}

.book {
    background-color: #965151;
    height: 420px;
    width: 150px;
    border-radius: 2px;
    border: 2px solid black;
}